
hello_gs/bin/HelloGS
immediate_draw/bin/ImmediateDraw
simple_texture/bin/SimpleTexture
simple_triangle/bin/SimpleTriangle
uniforms/bin/main.obj
uniforms/bin/SimpleTriangle.exe
uniforms/bin/SimpleTriangle.ilk
uniforms/bin/SimpleTriangle.pdb
uniforms/bin/vc140.pdb
uniforms/bin/Uniforms.exe
uniforms/bin/Uniforms.ilk
uniforms/bin/Uniforms.pdb
