
hello_gs/bin/HelloGS
immediate_draw/bin/ImmediateDraw
simple_texture/bin/SimpleTexture
simple_triangle/bin/SimpleTriangle
uniforms/bin/main.obj
uniforms/bin/SimpleTriangle.exe
uniforms/bin/SimpleTriangle.ilk
uniforms/bin/SimpleTriangle.pdb
uniforms/bin/vc140.pdb
uniforms/bin/Uniforms.exe
uniforms/bin/Uniforms.ilk
uniforms/bin/Uniforms.pdb
asset_manager/bin/.vs/App/v16/Browse.VC.db
asset_manager/bin/.vs/App/v16/Browse.VC.db-shm
asset_manager/bin/.vs/App/v16/Browse.VC.db-wal
asset_manager/bin/.vs/App/v16/Browse.VC.opendb
*.exe
*.ilk
*.pdb
audio/bin/main.obj
asset_manager/bin/.vs/App/v16/.suo
gs_cpp/bin/app.obj
gs_cpp/bin/main.obj
asset_manager/bin/main.obj
